
/* Regular 400 */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url('OpenSans-Regular.ttf') format("truetype");
}

/* Light 300 */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Open Sans Light"), local("OpenSans-Light"), url('OpenSans-Light.ttf') format("truetype");
}

/* Medium 500 */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Open Sans Medium"), local("OpenSans-Medium"), url('OpenSans-Medium.ttf') format("truetype");
}